<style>

 .main {
 background-color: rgba(255, 255, 255, 0.5);
 margin-top: 100px;
 padding-bottom: 50px;
 }
 .main h1 {
 font-size: 3.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h2 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h3 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main p {
 font-size:1em;
 font-family: Arial;
 color: #2E3759;
 }

</style>


<title>Movie Recommendations</title>
</head>
<body>
<div class="main">
  <div style="text-align:center">
  <br><br>
  <div class="starter-template">

<br><br>
<h3>Movie Suggestions</h3>

<img src="https://image.tmdb.org/t/p/w500/kqjL17yufvn9OVLyXYpvtyrFfak.jpg" width="250" height="400">
<img src="static/img/Mom.jpg" width="250" height="400">
<img src="static/img/PulpFiction.jpg" width="250" height="400">
<img src="static/img/SavingPrivateRyan.jpg" width="250" height="400">
<br><br>
<img src="static/img/HarryPotter.jpg" width="250" height="400">
<img src="static/img/HarryPotter.jpg" width="250" height="400">
<img src="static/img/HarryPotter.jpg" width="250" height="400">
<img src="static/img/HarryPotter.jpg" width="250" height="400">

<h1> hope this works fog </h1>

<!-- This is the important part!!
The following code is basically what reads your data and runs your function from app.py

<h1> hope this works {% recommender %} </h1>


Don't forget the {% for x in whatever %} if you use a for loop and end the for loop with {% endfor %} -->
 <!-- {% recommend %} -->
  <div>
    <!-- <h1> hope this works {% recommender %} </h1> -->
  <!--   <a href="{{recommend}}"></a>-->
    <!-- This gets the info from my florist_info database from app.py and outputs to the user -->
    <!-- <table border = 1>
         {% for key, value in result.items() %}

            <tr>
               <th> {{ key }} </th>
               <td> {{ value }} </td>
            </tr>

         {% endfor %}
      </table> -->

  <!--  <a href="{{ florist_info[x]['link'] }}"> -->
  <!--  <img src="{{ florist_info[x]['img_src'] }}"></a>-->
  </div>
  <!--  {% endfor %} -->




</div></div></div>
</body>
