<style>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

 .main {
 background-color: rgba(255, 255, 255, 0.5);
 margin-top: 100px;
 padding-bottom: 50px;
 }
 .main h1 {
 font-size: 3.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h2 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h3 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main p {
 font-size:1em;
 font-family: Arial;
 color: #2E3759;
 }


 body {
        background-image: url("static/img/5.png");
        /* background-repeat: no-repeat; */
        background-size: 1700px 2000px;

    }

 .container{
    position: relative;
    width: 200px;
    height: 200px;
}
.main_image{
    width: 100%;
    height: 100%;
    /* background: blue; */
}
.overlay_image{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    /* background: red; */
}

.parent{
    width:200px;
    height:200px;
    position:absolute;
    z-index:0;
}

.inner{
    position:absolute;
    z-index:1;
    bottom:0;
    right:0;
 }

 .fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    }

    .fade:hover {
       opacity: 0.5;
       }
</style>


<title>Movie Recommendations</title>
</head>
<body>
<div class="main">
  <div style="text-align:center">
  <br><br>
  <div class="starter-template">

<br><br>
<h3>Movie Suggestions</h3>


<!-- <img src="{{presentThese[0]}}" width="250" height="400">
<img src="{{presentThese[1]}}" width="250" height="400">
<img src="{{presentThese[2]}}" width="250" height="400">
<img src="{{presentThese[3]}}" width="250" height="400">
<br><br>
<img src="{{presentThese[4]}}" width="250" height="400">
<img src="{{presentThese[5]}}" width="250" height="400">
<img src="{{presentThese[6]}}" width="250" height="400">
<img src="{{presentThese[7]}}" width="250" height="400">
<br><br>
<img src="{{presentThese[8]}}" width="250" height="400">
<img src="{{presentThese[9]}}" width="250" height="400">
<img src="{{presentThese[10]}}" width="250" height="400">
<img src="{{presentThese[11]}}" width="250" height="400">
<br><br>
<img src="{{presentThese[12]}}" width="250" height="400">
<img src="{{presentThese[13]}}" width="250" height="400">
<img src="{{presentThese[14]}}" width="250" height="400">
<img src="{{presentThese[15]}}" width="250" height="400"> -->




<!-- <img src="{{presentThese[0]}}" width="250" height="400">
<img src="{{presentThese[2]}}" width="250" height="400">
<img src="{{presentThese[3]}}" width="250" height="400">
<img src="{{presentThese[5]}}" width="250" height="400">

<br><br>
<img src="{{presentThese[6]}}" width="250" height="400">
<img src="{{presentThese[8]}}" width="250" height="400">
<img src="{{presentThese[10]}}" width="250" height="400">
<img src="{{presentThese[12]}}" width="250" height="400">
 -->





<br><br>
<a href="{{presentTheseLinks[0]}}">
<img class="fade" id="tryme" src="{{presentThese[0]}}" width="250" height="400">
</a>
<a href="{{presentTheseLinks[1]}}">
<img class="fade" src="{{presentThese[1]}}" width="250" height="400">
</a>
<a href="{{presentTheseLinks[2]}}">
<img class="fade" src="{{presentThese[2]}}" width="250" height="400">
</a>
<a href="{{presentTheseLinks[3]}}">
<img class="fade" src="{{presentThese[3]}}" width="250" height="400">

<br><br>
<a href="{{presentTheseLinks[4]}}">
<img class="fade" src="{{presentThese[4]}}" width="250" height="400">
</a>
<a href="{{presentTheseLinks[5]}}">
<img class="fade" src="{{presentThese[5]}}" width="250" height="400">
</a>
<a href="{{presentTheseLinks[6]}}">
<img class="fade" src="{{presentThese[6]}}" width="250" height="400">
</a>
<a href="{{presentTheseLinks[7]}}">
<img class="fade" src="{{presentThese[7]}}" width="250" height="400">
</body>

<!-- <br><br>
<img src="{{presentThese[16]}}" width="250" height="400">
<img src="{{presentThese[17]}}" width="250" height="400">
<img src="{{presentThese[18]}}" width="250" height="400">
<img src="{{presentThese[19]}}" width="250" height="400"> -->

<!-- <img id="main_image" src="{{presentThese[0]}}" width="250" height="400">
<img src="static/img/Mom.jpg" width="250" height="400">
<img src="static/img/PulpFiction.jpg" width="250" height="400">
<img src="static/img/SavingPrivateRyan.jpg" width="250" height="400">
<br><br>
<img src="https://m.media-amazon.com/images/M/MV5BMTYwOTEwNjAzMl5BMl5BanBnXkFtZTcwODc5MTUwMw@@._V1_.jpg" width="250" height="400">
<img src="http://image.tmdb.org/t/p/w500/nBNZadXqJSdt05SHLqgT0HuC5Gm.jpg" width="250" height="400">
<img src="static/img/HarryPotter.jpg" width="250" height="400">
<img src="https://image.tmdb.org/t/p/w500/9E2y5Q7WlCVNEhP5GiVTjhEhx1o.jpg" width="250" height="400"> -->

<!-- <br><br> -->

<!-- <div class="parent">
    <img id="main_image" src="https://image.tmdb.org/t/p/w500/kqjL17yufvn9OVLyXYpvtyrFfak.jpg" width="250" height="400">
    <div class="inner"><img src="static/img/netflix_logo.png" width="44" height="48"/></div>
</div> -->
<!-- <h1> hope this works {{ recommend_pass[1] }} </h1> -->
<br><br>
<!-- <div><h3 id="fromFirstPage"> page one : {{age}}</h3></div> -->
</div></div></div>

<!-- <ul>
        {% for n in recommend_pass %}
        <li>{{n}}</li>
        {% endfor %}
</ul> -->

</body>
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% USEFUL BELOW HERE --> -->

<!-- <div><h3 id="fromFirstPage"> page one : {{age}}</h3></div>






</div></div></div>
